FORMAT: 1A
HOST: https://www.printavo.com

# Printavo API
This JSON-based API is used to access information in your Printavo account. Printavo is the simplest way for screen-printing, embroidering and promotional product shops to manage their business.

###### Rate Limiting
For API requests, we allow a limit of 10 requests for every 5 seconds by IP address or by user login email


# Group Sessions

## Sessions [/api/{version}/sessions]
Login and Logout

+ Parameters

   + version (required, string, `v1`) - API version.

### Login [POST]

+ Request (application/json)

  +  Attributes (object)
      + email (required, string)
      + password (required, string)

+ Response 200 (application/json)

   + Headers

            Connection: keep-alive

   + Body

            {
              "email": "test@example.com",
              "id": 1,
              "token": "6WfC-lLQNVs_qGIe93iutw"
            }

### Logout [DELETE]

+ Request (application/json)

  +  Attributes (object)
      + email (required, string)
      + token (required, string)

+ Response 200 (application/json)

   + Headers

            Connection: keep-alive
            
# Group Account
## Account [/api/{version}/accounts{?email}{?token}]

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token

### Account Show [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
                "address1": "1200 Broadway",
                "address2": "",
                "allow_mobile_app_access?": true,
                "city": "Denver",
                "company_name": "DF",
                "country": "US",
                "current_visual_id": 32,
                "id": 10101,
                "invoice_template": null,
                "invoice_template_subject_line": null,
                "invoice_title": "Thank you for your business!",
                "master_email": "name@example.com",
                "payment_processor_present?": true,
                "payment_request_template": null,
                "phone": "5555555555",
                "plan": "premium_yearly_3",
                "plan_allows_pricing_calculation?": true,
                "plan_allows_qr_coding?": true,
                "sales_tax": 0.0,
                "show_invoice_po_number": false,
                "social_facebook_link": "",
                "social_twitter_link": "",
                "state": "Colorado",
                "terms_and_conditions": null,
                "use_broder_global_products": true,
                "use_sanmar_global_products": true,
                "use_tsc_apparel_global_products": false,
                "website": "http://www.your-shop.com",
                "zip": "80204",
                "pricing_matrices": [
                    {
                        "id": 44407,
                        "name": "Screen Printing Example",
                        "product_pricing_option": "case_price"
                    },
                    {
                        "id": 44408,
                        "name": "Embroidery Matrix Example",
                        "product_pricing_option": "case_price"
                    }
                ],
                "pricing_matrices_cells": [
                    {
                        "matrix_id": 44407,
                        "col_header_id": 1,
                        "col_header_label": "1 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 2,
                        "col_header_label": "2 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 3,
                        "col_header_label": "3 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 4,
                        "col_header_label": "4 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 5,
                        "col_header_label": "5 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 6,
                        "col_header_label": "6 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 7,
                        "col_header_label": "7 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 8,
                        "col_header_label": "8 color"
                    },
                    {
                        "matrix_id": 44407,
                        "col_header_id": 9,
                        "col_header_label": "9 color"
                    },
                    {
                        "matrix_id": 44408,
                        "col_header_id": 0,
                        "col_header_label": "0 - 5000 Stitches"
                    },
                    {
                        "matrix_id": 44408,
                        "col_header_id": 1,
                        "col_header_label": "6001 - 7000 Stitches"
                    },
                    {
                        "matrix_id": 44408,
                        "col_header_id": 2,
                        "col_header_label": "7001 - 8000 Stitches"
                    },
                    {
                        "matrix_id": 44408,
                        "col_header_id": 3,
                        "col_header_label": "8001 - 9000 Stitches"
                    },
                    {
                        "matrix_id": 44408,
                        "col_header_id": 4,
                        "col_header_label": "9001 - 10000 Stitches"
                    },
                    {
                        "matrix_id": 44408,
                        "col_header_id": 5,
                        "col_header_label": "10000+ Stitches"
                    }
                ],
                "email_templates": [
                    {
                        "id": 26939,
                        "name": "Quote Approval",
                        "subject_line": "Please approve - [invoice-id]",
                        "message": "Hi [customer-first-name],\r\n\r\nCould you please click on the button below to approve this quote.\r\n\r\nRespond back with any questions or concerns! Have a great day."
                    },
                    {
                        "id": 26940,
                        "name": "Quote Follow Up",
                        "subject_line": "Quote Check-In",
                        "message": "Hi [customer-first-name],\r\n\r\nWe'd love to help you with your order. We sent a quote that you'll need to approve to move forward.\r\n\r\nCould you please click on the button below to approve this quote.\r\n\r\nRespond back with any questions or concerns! Have a great day."
                    },
                    {
                        "id": 26941,
                        "name": "Artwork Approval",
                        "subject_line": "Artwork Approval - [invoice-id]",
                        "message": "Hi [customer-first-name],\r\n\r\nPlease take a look at the mockup we created. You'll want to review all details on color, design placement, and details of your order.\r\n\r\nClick on the button below to approve!"
                    },
                    {
                        "id": 26942,
                        "name": "Artwork Follow Up",
                        "subject_line": "Artwork Follow Up - Action Needed",
                        "message": "Hi [customer-first-name],\r\n\r\nWe want to get your order moving. Can you please take a look at the mockup we created. You'll want to review all details on color, design placement, and details of your order.\r\n\r\nClick on the button below to approve!"
                    },
                    {
                        "id": 26943,
                        "name": "Payment Request",
                        "subject_line": "Payment Request - [invoice-id]",
                        "message": "Hi [customer-first-name],\r\n\r\nPlease click on the button below to make a payment for your invoice."
                    },
                    {
                        "id": 26944,
                        "name": "Payment Follow Up",
                        "subject_line": "Payment Follow Up",
                        "message": "Hi [customer-first-name],\r\n\r\nJust wanted to follow up on payment for this invoice. We want to move quickly to get your order printed.\r\n\r\nPlease click on the button below to make a payment for your invoice."
                    },
                    {
                        "id": 26945,
                        "name": "Thanks For Ordering",
                        "subject_line": "You're the best!",
                        "message": "Hi [customer-first-name],\r\n\r\nThank you for being an amazing customer. We're always excited to bring ideas to life. If you enjoyed your order, please review us on Yelp.\r\n\r\nIf you have any questions, please respond back and we'll help."
                    }
                ],
                "line_item_size_option_attributes": {
                    "style_number": true,
                    "category": true,
                    "color": false,
                    "size_yxs": false,
                    "size_ys": false,
                    "size_ym": false,
                    "size_yl": false,
                    "size_yxl": false,
                    "size_xs": true,
                    "size_s": true,
                    "size_m": true,
                    "size_l": true,
                    "size_xl": true,
                    "size_2xl": false,
                    "size_3xl": false,
                    "size_4xl": false,
                    "size_5xl": false,
                    "size_6xl": false,
                    "size_other": true,
                    "size_6m": false,
                    "size_12m": false,
                    "size_18m": false,
                    "size_24m": false,
                    "size_2t": false,
                    "size_3t": false,
                    "size_4t": false,
                    "size_5t": false,
                    "updated_at": "2020-10-21T08:45:41.629-05:00"
                }
            }

# Group Users

## Users collection [/api/{version}/users{?email}{?token}{?page}{?per_page}]
Actions on the Users resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of users per page.
        + Default: `20`

### Users Index [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 20,
                "total_count": 4,
                "total_pages": 1
              },
              "data": [
                {
                  "id": 2659,
                  "email": "tttttt@t.com",
                  "name": "affafaf",
                  "address1": null,
                  "address2": null,
                  "city": null,
                  "state": null,
                  "zip": null,
                  "phone": "4848384",
                  "website": null,
                  "created_at": "2014-08-18T09:39:34-04:00",
                  "updated_at": "2014-11-16T02:39:05-05:00",
                  "owner?": true,
                  "view_books?": false,
                  "create_books?": false,
                  "destroy_books?": false,
                  "create_orders?": false,
                  "destroy_orders?": false,
                  "create_customers?": false,
                  "destroy_customers?": false,
                  "only_view_their_orders?": false,
                  "not_view_pricing?": false,
                  "only_view_their_customers?": false,
                  "only_view_tasks_assigned?": false,
                  "only_view_their_messages?": false,
                  "hide_all_tasks?": false,
                  "hide_all_messages?": false,
                  "hide_all_inquiries?": false,
                  "tz_time_zone": "Australia/Melbourne"
                }
              ]
            }

## User [/api/{version}/users/{id}{?email}{?token}]
Actions on the :id resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `2659`) - User id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token


### User Show [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 2659,
              "email": "tttttt@t.com",
              "name": "affafaf",
              "address1": null,
              "address2": null,
              "city": null,
              "state": null,
              "zip": null,
              "phone": "4848384",
              "website": null,
              "created_at": "2014-08-18T09:39:34-04:00",
              "updated_at": "2014-11-16T02:39:05-05:00",
              "owner?": true,
              "view_books?": false,
              "create_books?": false,
              "destroy_books?": false,
              "create_orders?": false,
              "destroy_orders?": false,
              "create_customers?": false,
              "destroy_customers?": false,
              "only_view_their_orders?": false,
              "not_view_pricing?": false,
              "only_view_their_customers?": false,
              "only_view_tasks_assigned?": false,
              "only_view_their_messages?": false,
              "hide_all_tasks?": false,
              "hide_all_messages?": false,
              "hide_all_inquiries?": false,
              "tz_time_zone": "Australia/Melbourne"
            }

# Group Messages

## Messages collection [/api/{version}/messages{?email}{?token}{?page}{?per_page}]
Actions on the Message resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of customers per page.
        + Default: `25`

### Messages Index [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
            "meta": 
              {
                "page": 1,
                "per_page": 20,
                "total_count": 4,
                "total_pages": 1
              },
            "data": 
              [
                {
                  "from": "queenie@quitzon.name",
                  "to": "kyla_abernathy@vandervort.name",
                  "subject": nil,
                  "created_at": "2017-08-07T10:38:23.616-07:00",
                  "updated_at": "2017-08-07T10:38:23.616-07:00",
                  "user_id": 1,
                  "messageable_id": 1,
                  "cc_invoice_creator": false,
                  "messageable_type": "Order",
                  "to_user": true,
                  "formatted_delivery_status": "pending",
                  "bounce_error": nil,
                  "reply_text": nil,
                  "text": "Ruh ahuma ooma?"
                }
              ]
            }

### Message Create [POST]

+  Attributes (object)
      + order_id (required, number)
      + email_message (optional, object)
        + to (required, string)
        + text (required, string)
        + subject (optional, string)
        + cc_invoice_creator (optional, boolean)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "email_message":
                {
                  "to": "elsie@cronin.name",
                  "text": "Some text",
                  "subject": "Subject",
                  "cc_invoice_creator": true
                },
              "order_id": 1
            }

+ Response 201 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "from": "eda.pouros@corkery.io",
              "to": "elsie@cronin.name",
              "subject": "Wuckert, Schneider and Eichmann sent you a message",
              "created_at": "2017-08-07T12:08:37.364-07:00",
              "updated_at": "2017-08-07T12:08:37.364-07:00",
              "user_id": 1,
              "messageable_id": 1,
              "text": "Some text",
              "messageable_type": "Order",
              "state": "linked",
              "to_user": false,
              "delivery_status": nil,
              "bounce_error": nil,
              "reply_text": nil,
              "cc_invoice_creator": nil
            }

# Group Customers

## Customers collection [/api/{version}/customers{?email}{?token}{?page}{?per_page}{?sort_column}{?direction}{?exclude_sub_customers}]
Actions on the Customers resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of customers per page.
        + Default: `25`
    + sort_column (optional, string) - Column to sort on
        + Default: `first_name`
    + direction (optional, string) - Direction to sort
        + Default: `asc`
    + exclude_sub_customers (optional, boolean) - Exclude sub customers from results
        + Default: false

### Customers Index [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 25,
                "total_count": 228,
                "total_pages": 10
              },
              "data": [25]
                {
                  "id": "282869",
                  "first_name": "Max",
                  "last_name": "Tucker ok",
                  "user_id": 28951,
                  "fax": "",
                  "orders_count": 0,
                  "tax_exempt": true,
                  "tax_resale_num": "",
                  "company": "",
                  "customer_email": "",
                  "phone": "8473633270",
                  "extra_notes": "",
                  "default_payment_term_id": 125,
                  "customer_id": 0,
                  "billing_address_attributes": {
                    "address1": "1500 Sullivan Road",
                    "address2": "",
                    "city": "Aurora",
                    "country": "US",
                    "state": "Alaska",
                    "zip": "60506"
                  },
                  "shipping_address_attributes": {
                    "address1": "",
                    "address2": "",
                    "city": "",
                    "country": "US",
                    "state": "",
                    "zip": ""
                  },
                  "sub_customers_attributes": [
                    {
                      "id": 1194979,
                      "first_name": "Donny",
                      "last_name": "Tucker",
                      "user_id": 28951,
                      "email": "donn@gmail.com",
                      "phone": "8473421516",
                      "fax": "",
                      "customer_id": 282869
                    },
                    {
                      "id": 1194978,
                      "first_name": "Max",
                      "last_name": "Tucker",
                      "user_id": 28951,
                      "email": "tim@example.com",
                      "phone": "8473633270",
                      "fax": "",
                      "customer_id": 282869
                    }
                  ],
                  "created_at": "2015-12-16T22:18:41-06:00",
                  "updated_at": "2015-12-16T22:18:41-06:00",
                  "url": "https://www.printavo.com/customers/282869",
                  "public_page_url": "https://www.printavo.com/customer/30acce7988bd3de9bb359c5d96f5a3fb"
                }
            }
### Customer Create [POST]

+ Attributes (Customer)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "first_name": "John",
              "last_name": "Doe",
              "user_id": 28951,
              "company": "test company",
              "customer_email": "john@doe.com",
              "phone": "123",
              "default_payment_term_id": 125,
              "shipping_address_attributes": {
                "address1": "",
                "address2": "",
                "city": "",
                "country": "US",
                "id": 687140,
                "state": "",
                "zip": ""
              },
              "billing_address_attributes": {
                "address1": "1500 Sullivan Road",
                "address2": "",
                "city": "Aurora",
                "country": "US",
                "id": 687141,
                "state": "Alaska",
                "zip": "60506"
              },
              "sub_customers_attributes": [
                {
                  "first_name": "Donny",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "donn@gmail.com",
                  "phone": "8473421516"
                },
                {
                  "first_name": "Max",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "tim@example.com",
                  "phone": "8473633270"
                }
              ]
            }

+ Response 201 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 284778,
              "first_name": "John",
              "last_name": "Doe",
              "user_id": 28951,
              "fax": null,
              "orders_count": 0,
              "tax_exempt": false,
              "tax_resale_num": null,
              "company": "test company",
              "customer_email": "john@doe.com",
              "phone": "123",
              "extra_notes": "",
              "default_payment_term_id": 125,
              "customer_id": 0,
              "shipping_address": {
                "address1": null,
                "address2": null,
                "city": null,
                "country": null,
                "created_at": "2015-12-22T08:55:47-06:00",
                "id": 691010,
                "state": null,
                "updated_at": "2015-12-22T08:55:47-06:00",
                "zip": null
              },
              "billing_address": {
                "address1": null,
                "address2": null,
                "city": null,
                "country": null,
                "created_at": "2015-12-22T08:55:47-06:00",
                "id": 691011,
                "state": null,
                "updated_at": "2015-12-22T08:55:47-06:00",
                "zip": null
              },
              "sub_customers_attributes": [
                {
                  "id": 284779,
                  "first_name": "Donny",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "donn@gmail.com",
                  "phone": "8473421516",
                  "fax": null,
                  "customer_id": 284778
                },
                {
                  "id": 284780
                  "first_name": "Max",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "tim@example.com",
                  "phone": "8473633270",
                  "fax": null,
                  "customer_id": 284778
                }
              ],
              "created_at": "2015-12-22T08:55:47-06:00",
              "updated_at": "2015-12-22T08:55:47-06:00",
              "url": "https://www.printavo.com/customers/284778",
              "public_page_url": "https://www.printavo.com/customer/e38a098a840f1fa369d8c2049ed662ba"
            }

        
### Customers Search [GET /api/{version}/customers/search{?email}{?token}{?page}{?per_page}{?query}{?sort_column}{?direction}]

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of customers per page.
        + Default: `25`
    + query (required, string) - Query to search
    + sort_column (optional, string) - Column to sort on
        + Values: `first_name`, `last_name`, `company`, `email`, `orders_count`, `created_at`, `customer_id`
        + Default: `first_name`
    + direction (optional, string) - Direction to sort
        + Default: `asc`
    
+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 25,
                "total_count": 228,
                "total_pages": 10
              },
              "data": [25]
                {
                  "id": "282869",
                  "first_name": "Max",
                  "last_name": "Tucker ok",
                  "user_id": 28951,
                  "fax": "",
                  "orders_count": 0,
                  "tax_exempt": true,
                  "tax_resale_num": "",
                  "company": "",
                  "customer_email": "",
                  "phone": "8473633270",
                  "extra_notes": "",
                  "default_payment_term_id": 125,
                  "customer_id": 0,
                  "billing_address_attributes": {
                    "address1": "1500 Sullivan Road",
                    "address2": "",
                    "city": "Aurora",
                    "country": "US",
                    "state": "Alaska",
                    "zip": "60506"
                  },
                  "shipping_address_attributes": {
                    "address1": "",
                    "address2": "",
                    "city": "",
                    "country": "US",
                    "state": "",
                    "zip": ""
                  },
                  "sub_customers_attributes": [
                    {
                      "id": 1194979,
                      "first_name": "Donny",
                      "last_name": "Tucker",
                      "user_id": 28951,
                      "email": "donn@gmail.com",
                      "phone": "8473421516",
                      "fax": "",
                      "customer_id": "282869"
                    },
                    {
                      "id": 1194978,
                      "first_name": "Max",
                      "last_name": "Tucker",
                      "user_id": 28951,
                      "email": "tim@example.com",
                      "phone": "8473633270",
                      "fax": "",
                      "customer_id": "282869"
                    }
                  ],
                  "created_at": "2015-12-16T22:18:41-06:00",
                  "updated_at": "2015-12-16T22:18:41-06:00",
                  "url": "https://www.printavo.com/customers/282869",
                  "public_page_url": "https://www.printavo.com/customer/30acce7988bd3de9bb359c5d96f5a3fb"
                }
            }



## Customer [/api/{version}/customers/{id}{?email}{?token}]
Actions on the :id resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `282869`) - Customer id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token

### Customer Show [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 282869,
              "first_name": "Max",
              "last_name": "Tucker",
              "user_id": 28951,
              "fax": "",
              "orders_count": 0,
              "tax_exempt": true,
              "tax_resale_num": "",
              "company": "",
              "customer_email": "",
              "phone": "8473633270",
              "extra_notes": "",
              "default_payment_term_id": 125,
              "customer_id": 0,
              "shipping_address_attributes": {
                "address1": "",
                "address2": "",
                "city": "",
                "country": "US",
                "created_at": "2015-12-16T23:18:41-05:00",
                "id": 687140,
                "state": "",
                "updated_at": "2015-12-16T23:18:41-05:00",
                "zip": ""
              },
              "billing_address_attributes": {
                "address1": "1500 Sullivan Road",
                "address2": "",
                "city": "Aurora",
                "country": "US",
                "created_at": "2015-12-16T23:18:41-05:00",
                "id": 687141,
                "state": "Alaska",
                "updated_at": "2015-12-16T23:18:41-05:00",
                "zip": "60506"
              },
              "sub_customers_attributes": [
                {
                  "id": 1194979,
                  "first_name": "Donny",
                  "last_name": "Tucker",
                  "user_id": 282869,
                  "email": "donn@gmail.com",
                  "phone": "8473421516",
                  "fax": null,
                  "customer_id": 282869
                },
                {
                  "id": 1194978
                  "first_name": "Max",
                  "last_name": "Tucker",
                  "user_id": 282869,
                  "email": "tim@example.com",
                  "phone": "8473633270",
                  "fax": null,
                  "customer_id": 282869
                }
              ],
              "created_at": "2015-12-16T23:18:41-05:00",
              "updated_at": "2015-12-16T23:18:41-05:00",
              "url": "https://www.printavo.com/customers/282869",
              "public_page_url": "https://www.printavo.com/customer/30acce7988bd3de9bb359c5d96f5a3fb"
            }

### Customer Update [PUT]

+ Attributes (Customer)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "first_name": "Test",
              "last_name": "John Doe",
              "user_id": 28951,
              "company": "john Doe company",
              "default_payment_term_id": 125,
              "shipping_address_attributes": {
                "id": 123,
                "address1": "123 N. Wacker Dr."
              },
              "billing_address_attributes": {
                "id": 140,
                "address1": "670 N. Wacker Dr."
              },
              "sub_customers_attributes": [
                {
                  "first_name": "Donny",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "donn@gmail.com",
                  "phone": "8473421516",
                  "fax": null
                },
                {
                  "id": 1194978
                  "first_name": "Max",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "tim@example.com",
                  "phone": "8473633270",
                  "fax": null
                }
              ],
            }

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 282869,
              "first_name": "Test",
              "last_name": "John Doe",
              "user_id": 28951,
              "fax": "",
              "orders_count": 0,
              "tax_exempt": true,
              "tax_resale_num": "",
              "company": "john Doe company",
              "customer_email": "",
              "phone": "8473633270",
              "extra_notes": "",
              "default_payment_term_id": 125,
              "customer_id": 0,
              "shipping_address_attributes": {
                "id": 123,
                "address1": "123 N. Wacker Dr.",
                "address2": "",
                "city": "",
                "country": "US",
                "created_at": "2015-12-16T22:18:41-06:00",
                "id": 687140,
                "state": "",
                "updated_at": "2015-12-16T22:18:41-06:00",
                "zip": ""
              },
              "billing_address_attributes": {
                "id": 140,
                "address1": "670 N. Wacker Dr.",
                "address2": "",
                "city": "Aurora",
                "country": "US",
                "created_at": "2015-12-16T22:18:41-06:00",
                "id": 687141,
                "state": "Alaska",
                "updated_at": "2015-12-16T22:18:41-06:00",
                "zip": "60506"
              },
              "sub_customers_attributes": [
                {
                  "id": 1194979,
                  "first_name": "Donny",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "donn@gmail.com",
                  "phone": "8473421516",
                  "fax": null,
                  "customer_id": 282869
                },
                {
                  "id": 1194978
                  "first_name": "Max",
                  "last_name": "Tucker",
                  "user_id": 284778,
                  "email": "tim@example.com",
                  "phone": "8473633270",
                  "fax": null,
                  "customer_id": 282869
                }
              ],
              "created_at": "2015-12-16T22:18:41-06:00",
              "updated_at": "2015-12-28T09:51:28-06:00",
              "url": "https://www.printavo.com/customers/282869",
              "public_page_url": "https://www.printavo.com/customer/30acce7988bd3de9bb359c5d96f5a3fb"
            }

### Customer Delete [DELETE]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 282869,
              "first_name": "Test",
              "last_name": "John Doe",
              "user_id": 28951,
              "fax": "",
              "orders_count": 0,
              "tax_exempt": true,
              "tax_resale_num": "",
              "company": "john Doe company",
              "customer_email": "",
              "phone": "8473633270",
              "extra_notes": "",
              "default_payment_term_id": 125,
              "customer_id": 0,
              "shipping_address_attributes": {
                "address1": "",
                "address2": "",
                "city": "",
                "country": "US",
                "created_at": "2015-12-16T22:18:41-06:00",
                "id": 687140,
                "state": "",
                "updated_at": "2015-12-16T22:18:41-06:00",
                "zip": ""
              },
              "billing_address_attributes": {
                "address1": "1500 Sullivan Road",
                "address2": "",
                "city": "Aurora",
                "country": "US",
                "created_at": "2015-12-16T22:18:41-06:00",
                "id": 687141,
                "state": "Alaska",
                "updated_at": "2015-12-16T22:18:41-06:00",
                "zip": "60506"
              },
              "sub_customers_attributes": [
                {
                  "id": 1194979,
                  "first_name": "Donny",
                  "last_name": "Tucker",
                  "user_id": 282869,
                  "email": "donn@gmail.com",
                  "phone": "8473421516",
                  "fax": null,
                  "customer_id": 282869
                },
                {
                  "id": 1194978
                  "first_name": "Max",
                  "last_name": "Tucker",
                  "user_id": 282869,
                  "email": "tim@example.com",
                  "phone": "8473633270",
                  "fax": null,
                  "customer_id": 282869
                }
              ],
              "created_at": "2015-12-16T22:18:41-06:00",
              "updated_at": "2015-12-28T09:51:28-06:00",
              "url": "https://www.printavo.com/customers/282869",
              "public_page_url": "https://www.printavo.com/customer/30acce7988bd3de9bb359c5d96f5a3fb"
            }
            
## Customer Associations [/api/{version}/customers/{id}/orders{?email}{?token}]
Associations on the :id resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `282869`) - Customer id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    
### Customer's Orders [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 25,
                "total_count": 118,
                "total_pages": 5
              },
              "data": [
              {
                "id": 93654,
                "sales_tax": "0.0",
                "total_untaxed": "0.0",
                "discount_as_percentage": false,
                "discount": "0.0",
                "customer_id": 103598,
                "user_id": 235,
                "orderstatus_id": 1515,
                "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
                "production_notes": null,
                "delivery_method_id": null,
                "order_nickname": null,
                "approved": false,
                "approved_name": null,
                "visual_id": 4221,
                "stats": {
                  "paid": true
                },
                "notes": "",
                "created_at": "2014-07-23T14:15:29Z",
                "updated_at": "2016-09-16T06:15:42Z",
                "due_date": "2014-08-15T10:00:00Z",
                "order_total": "678.0",
                "customer_due_date": "2014-08-15T10:00:00Z",
                "invoice_date": "2014-08-15T10:00:00Z",
                "payment_due_date": "2014-09-15T10:00:00Z",
                "formatted_invoice_date": "08/15/2014",
                "formatted_customer_due_date": "08/15/2014",
                "formatted_payment_due_date": "09/15/2014",
                "payment_term_id": 125,
                "expenses": [
                  {
                    "id": 271392,
                    "transaction_date": "2016-09-07T05:00:00Z",
                    "name": "test",
                    "amount": "-45.35",
                    "created_at": "2016-09-07T09:58:32Z",
                    "updated_at": "2016-09-07T09:58:32Z",
                    "user_generated": true
                  }
                ],
                "customer": {
                  "full_name": "Alan Moore",
                  "first_name": "Alan",
                  "last_name": "Moore",
                  "company": "",
                  "email": "alan@moore.com",
                  "customer_id": 0
                },
                "user": {
                  "name": "Test Test"
                },
                "orderstatus": {
                  "name": "COMPLETED",
                  "color": "#000000"
                },
                "lineitems_attributes": [
                  {
                    "id": 308751,
                    "style_description": "Names Football",
                    "taxable": true,
                    "style_number": "",
                    "color": "",
                    "size_other": 31,
                    "size_yxs": null,
                    "size_ys": null,
                    "size_ym": null,
                    "size_yl": null,
                    "size_yxl": null,
                    "size_6m": null,
                    "size_12m": null,
                    "size_18m": null,
                    "size_24m": null,
                    "size_2t": null,
                    "size_3t": null,
                    "size_4t": null,
                    "size_5t": null,
                    "size_s": null,
                    "size_m": null,
                    "size_l": null,
                    "size_xl": null,
                    "size_2xl": null,
                    "size_3xl": null,
                    "size_4xl": null,
                    "size_5xl": null,
                    "size_6xl": null,
                    "total_quantities": 31,
                    "goods_status": "need_ordering",
                    "images_attributes": [
                        {
                          "filepicker_url": "url",
                          "mime_type": "image/png",
                          "full_image_url": "url",
                          "thumbnail_100_by_100_url": "url",
                          "display_thumbnail": "url"
                        }
                      ],
                    "unit_cost": 12.0,
                    "category": null
                  }
                ],
                "order_fees": [],
                "url": "https://printavo.com/invoices/93654",
                "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
                "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
                "workorder": "https://printavo.com/invoices/93654/workorder",
                "packaging_slip": "https://printavo.com/invoices/93654/packing_slip",
                "custom_created_at": "2014-08-15T10:00:00Z"
                }
              ]
            }

# Group Categories

## Categories collection [/api/{version}/categories{?email}{?token}{?page}{?per_page}]
Actions on the Categories resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of categories per page.
        + Default: `20`

### Categories Index [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 20,
                "total_count": 26,
                "total_pages": 2
              },
              "data": [
                {
                  "id": 11907,
                  "name": "Test"
                }
              ]
            }

# Group Products

## Products collection [/api/{version}/products{?email}{?token}{?page}{?per_page}]
Actions on the Products resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of products per page.
        + Default: `20`

### Product Index [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 20,
                "total_count": 2,
                "total_pages": 1
              },
              "data": [
                {
                  "id": 84033,
                  "price_per": "1.0",
                  "style_number": "test",
                  "brand": "test",
                  "size": null,
                  "created_at": "2015-01-19T11:00:37-06:00",
                  "updated_at": "2015-01-19T11:00:37-06:00"
                }
              ]
            }

### Product Create [POST]

+ Attributes (Product)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "brand": "test brand",
              "style_number": "BB400",
              "style_description": "Cotton",
              "color": "Red",
              "size": "XS",
              "price_per": "8.25"
            }

+ Response 201 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 2405026,
              "price_per": "8.25",
              "style_number": "BB400",
              "brand": "test brand",
              "size": "XS",
              "created_at": "2015-12-28T09:46:10-06:00",
              "updated_at": "2015-12-28T09:46:10-06:00"
            }

## Product [/api/{version}/products/{id}{?email}{?token}]
Actions on the :id resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `84033`) - Product id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token

### Product Show [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 84033,
              "price_per": "1.0",
              "style_number": "test",
              "brand": "test",
              "size": null,
              "created_at": "2015-01-19T11:00:37-06:00",
              "updated_at": "2015-01-19T11:00:37-06:00"
            }

### Product Update [PUT]

+ Attributes (Product)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "brand": "John Doe brand",
              "style_number": "ACC123",
              "size": "M",
              "price_per": "6.25"
            }

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 84033,
              "price_per": "6.25",
              "style_number": "ACC123",
              "brand": "John Doe brand",
              "size": "M",
              "created_at": "2015-01-19T12:00:37-05:00",
              "updated_at": "2015-12-28T10:49:05-05:00"
            }

### Product Delete [DELETE]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 84033,
              "price_per": "6.25",
              "style_number": "ACC123",
              "brand": "John Doe brand",
              "size": "M",
              "created_at": "2015-01-19T12:00:37-05:00",
              "updated_at": "2015-12-28T10:49:05-05:00"
            }

# Group Orders

## Orders collection [/api/{version}/orders{?email}{?token}{?page}{?per_page}{?sort_column}{?direction}{?in_production_after}{?in_production_before}]
Actions on the Orders resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of orders per page.
        + Default: `25`
    + sort_column (optional, string) - Column to sort on
        + Default: `id`
    + direction (optional, string) - Direction to sort
        + Default: `desc`
    + in_production_after (optional, string) - DateTime to filter on Orders with a due date after the specified DateTime. Format: ISO8601
    + in_production_before (optional, string) - DateTime to filter on Orders with a due date before the specified DateTime. Format: ISO8601
      

### Orders Index [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 25,
                "total_count": 118,
                "total_pages": 5
              },
              "data": [
              {
                "id": 93654,
                "sales_tax": "0.0",
                "total_untaxed": "0.0",
                "discount_as_percentage": false,
                "discount": "0.0",
                "customer_id": 103598,
                "user_id": 235,
                "orderstatus_id": 1515,
                "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
                "production_notes": null,
                "order_nickname": null,
                "approved": false,
                "approved_name": null,
                "visual_id": 4221,
                "stats": {
                  "paid": true
                },
                "notes": "",
                "created_at": "2014-07-23T14:15:29Z",
                "updated_at": "2016-09-16T06:15:42Z",
                "due_date": "2014-08-15T10:00:00Z",
                "order_total": "678.0",
                "customer_due_date": "2014-08-15T10:00:00Z",
                "invoice_date": "2014-08-15T10:00:00Z",
                "payment_due_date": "2014-09-15T10:00:00Z",
                "custom_created_at": "2014-08-15T10:00:00Z",
                "formatted_custom_created_at_date": "08/15/2014",
                "formatted_invoice_date": "08/15/2014",
                "formatted_customer_due_date": "08/15/2014",
                "formatted_payment_due_date": "09/15/2014",
                "payment_term_id": 125,
                "delivery_method_id": 213,
                "expenses": [
                  {
                    "id": 271392,
                    "transaction_date": "2016-09-07T05:00:00Z",
                    "name": "test",
                    "amount": "-45.35",
                    "created_at": "2016-09-07T09:58:32Z",
                    "updated_at": "2016-09-07T09:58:32Z",
                    "user_generated": true
                  }
                ],
                "customer": {
                  "full_name": "Alan Moore",
                  "first_name": "Alan",
                  "last_name": "Moore",
                  "company": "",
                  "email": "alan@moore.com"
                },
                "user": {
                  "name": "Test Test"
                },
                "orderstatus": {
                  "name": "COMPLETED",
                  "color": "#000000"
                },
                "lineitems_attributes": [
                  {
                    "id": 308751,
                    "style_description": "Names Football",
                    "taxable": true,
                    "style_number": "",
                    "color": "",
                    "size_other": 31,
                    "size_yxs": null,
                    "size_ys": null,
                    "size_ym": null,
                    "size_yl": null,
                    "size_yxl": null,
                    "size_6m": null,
                    "size_12m": null,
                    "size_18m": null,
                    "size_24m": null,
                    "size_2t": null,
                    "size_3t": null,
                    "size_4t": null,
                    "size_5t": null,
                    "size_s": null,
                    "size_m": null,
                    "size_l": null,
                    "size_xl": null,
                    "size_2xl": null,
                    "size_3xl": null,
                    "size_4xl": null,
                    "size_5xl": null,
                    "size_6xl": null,
                    "total_quantities": 31,
                    "goods_status": "need_ordering",
                    "unit_cost": 12.0,
                    "category": null
                  }
                ],
                "order_fees": [],
                "url": "https://printavo.com/invoices/93654",
                "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
                "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
                "workorder": "https://printavo.com/invoices/93654/workorder",
                "packaging_slip": "https://printavo.com/invoices/93654/packing_slip"
                }
              ]
            }

### Order Create [POST]

+ Attributes (Order)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "user_id": 2658,
              "customer_id": 8782,
              "orderstatus_id": 1547,
              
              // Either formatted_due_date or due_date is required
              // If you send both, formatted_due_date will be ignored
              // due_date is ISO 8601 format and allows you to set a specific time
              "due_date": "2014-11-11T10:00:00-05:00",
              "formatted_due_date": "11/11/2014",
              "formatted_custom_created_at_date": "08/15/2014",
              "formatted_customer_due_date": "11/11/2014",
              "formatted_invoice_date": "11/11/2014",
              "formatted_payment_due_date": "12/11/2014",
              "sales_tax": "55.5",
              "discount": "1.5",
              "lineitems_attributes": [{
                "style_description": "Shirt",
                "category_id": 878,
                "unit_cost": 5.5,
                "print_locations_attributes": [{
                  "details": ""
                }],
                "images_attributes": [{
                  "file_url": "https://www.filepicker.io/api/file/bkUidBB7oAidQCO4RQPy",
                  "mime_type": "image/png"
              }]
              }],
              "production_notes_files_attributes": [{
                "file_url": "https://www.filepicker.io/api/file/dBBbO4oAkUi7QCidRQPy",
                "name": "file.png",
                "mime_type": "image/png"
              }],
              "payment_term_id": 125,
              "delivery_method_id": 213
            }

+ Response 201 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93655,
              "sales_tax": "55.5",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "1.5",
              "customer_id": 8782,
              "user_id": 2658,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": false,
              "approved_name": null,
              "visual_id": 4221,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2014-08-15T10:00:00Z",
              "invoice_date": "2014-08-15T10:00:00Z",
              "payment_due_date": "2014-09-15T10:00:00Z",
              "custom_created_at": "2014-08-15T10:00:00Z",
              "formatted_custom_created_at_date": "08/15/2014",
              "formatted_customer_due_date": "11/11/2014",
              "formatted_invoice_date": "11/11/2014",
              "formatted_payment_due_date": "12/11/2014",
              "payment_term_id": 125,
              "delivery_method_id": 213,
              "expenses": [],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": "",
                "email": "alan@moore.com"
              },
              "messages": [],
              "tasks": [],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Shirt",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "print_locations_attributes": [{
                    "details": ""
                  }],
                  "images_attributes": [{
                    "filepicker_url": "url",
                    "mime_type": "image/png",
                    "full_image_url": "url",
                    "thumbnail_100_by_100_url": "url",
                    "display_thumbnail": "url"
                  }],
                  "unit_cost": 5.5,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
              "workorder": "https://printavo.com/invoices/93654/workorder",
              "packaging_slip": "https://printavo.com/invoices/93654/packing_slip",
              "production_notes_files_attributes": [{
                "id": 1,
                "filepicker_url": "https://www.filepicker.io/api/file/dBBbO4oAkUi7QCidRQPy",
                "name": "file.png",
                "mime_type": "image/png",
                "created_at": "2017-08-04T14:54:06.501-07:00"
              }]
            }

### Orders Search [GET /api/{version}/orders/search{?email}{?token}{?page}{?per_page}{?query}]

+ Parameters

    + version (required, string, `v1`) - API version.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + page (optional, string) - Number of page.
        + Default: `1`
    + per_page (optional, string) - Number of orders per page.
        + Default: `25`
    + query (required, string) - String to search

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "meta": {
                "page": 1,
                "per_page": 25,
                "total_count": 118,
                "total_pages": 5
              },
              "data": [
                {
                  "id": 93654,
                  "sales_tax": "0.0",
                  "total_untaxed": "0.0",
                  "discount_as_percentage": false,
                  "discount": "0.0",
                  "customer_id": 103598,
                  "user_id": 235,
                  "orderstatus_id": 1515,
                  "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
                  "production_notes": null,
                  "order_nickname": null,
                  "approved": false,
                  "approved_name": null,
                  "visual_id": 4221,
                  "invoice_date": "2014-08-15T10:00:00Z",
                  "payment_due_date": "2014-09-15T10:00:00Z",
                  "formatted_invoice_date": "08/15/2014",
                  "formatted_customer_due_date": "08/15/2014",
                  "formatted_payment_due_date": "09/15/2014",
                  "stats": {
                    "paid": true
                  },
                  "notes": "",
                  "created_at": "2014-07-23T14:15:29Z",
                  "updated_at": "2016-09-16T06:15:42Z",
                  "due_date": "2014-08-15T10:00:00Z",
                  "order_total": "678.0",
                  "customer_due_date": "2014-08-15T10:00:00Z",
                  "payment_term_id": 125,
                  "delivery_method_id": 213,
                  "expenses": [
                    {
                      "id": 271392,
                      "transaction_date": "2016-09-07T05:00:00Z",
                      "name": "test",
                      "amount": "-45.35",
                      "created_at": "2016-09-07T09:58:32Z",
                      "updated_at": "2016-09-07T09:58:32Z",
                      "user_generated": true
                    }
                  ],
                  "customer": {
                    "full_name": "Alan Moore",
                    "first_name": "Alan",
                    "last_name": "Moore",
                    "company": "",
                    "email": "alan@moore.com"
                  },
                  "user": {
                    "name": "Test Test"
                  },
                  "orderstatus": {
                    "name": "COMPLETED",
                    "color": "#000000"
                  },
                  "lineitems_attributes": [
                    {
                      "id": 308751,
                      "style_description": "Names Football",
                      "taxable": true,
                      "style_number": "",
                      "color": "",
                      "size_other": 31,
                      "size_yxs": null,
                      "size_ys": null,
                      "size_ym": null,
                      "size_yl": null,
                      "size_yxl": null,
                      "size_6m": null,
                      "size_12m": null,
                      "size_18m": null,
                      "size_24m": null,
                      "size_2t": null,
                      "size_3t": null,
                      "size_4t": null,
                      "size_5t": null,
                      "size_s": null,
                      "size_m": null,
                      "size_l": null,
                      "size_xl": null,
                      "size_2xl": null,
                      "size_3xl": null,
                      "size_4xl": null,
                      "size_5xl": null,
                      "size_6xl": null,
                      "total_quantities": 31,
                      "goods_status": "need_ordering",
                      "print_locations_attributes": [],
                      "unit_cost": 12.0,
                      "category": null
                    }
                  ],
                  "order_fees": [],
                  "url": "https://printavo.com/invoices/93654",
                  "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
                  "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
                  "workorder": "https://printavo.com/invoices/93654/workorder",
                  "packaging_slip": "https://printavo.com/invoices/93654/packing_slip",
                  "custom_created_at": "2014-08-15T10:00:00Z"
                }
              ]
            }

## Order [/api/{version}/orders/{id}{?email}{?token}]
Actions on the :id resource

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `93654`) - Invoice id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token

### Order Show [GET]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93654,
              "sales_tax": "0.0",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "0.0",
              "customer_id": 103598,
              "user_id": 235,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": false,
              "order_subtotal": 10.0,
              "amount_paid": 8.0,
              "amount_outstanding": 2.0,
              "approved_name": null,
              "visual_id": 4221,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2014-08-15T10:00:00Z",
              "invoice_date": "2014-08-15T10:00:00Z",
              "payment_due_date": "2014-09-15T10:00:00Z",
              "custom_created_at": "2014-08-15T10:00:00Z",
              "formatted_custom_created_at_date": "08/15/2014",
              "formatted_invoice_date": "08/15/2014",
              "formatted_customer_due_date": "08/15/2014",
              "formatted_payment_due_date": "09/15/2014",
              "delivery_method_id": null,
              "payment_term_id": 125,
              "delivery_method_id": 213,
              "expenses": [
                {
                  "id": 271392,
                  "transaction_date": "2016-09-07T05:00:00Z",
                  "name": "test",
                  "amount": "-45.35",
                  "created_at": "2016-09-07T09:58:32Z",
                  "updated_at": "2016-09-07T09:58:32Z",
                  "user_generated": true
                }
              ],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": "",
                "email": "alan@moore.com"
              },
              "messages": [
                {
                  "from": "2.61e6193093f8f5de09e5cf0b849296c3.order.fa7cdf959797229fc3e6fc8e4c5232bf@messages.printavo.com",
                  "to": "example@example.com",
                  "subject": "test",
                  "text": "test",
                  "formatted_delivery_status": "sent"
                }
              ],
              "tasks": [
                {
                  "id": 83180,
                  "order_id": 93654,
                  "task_name": "Completed task",
                  "due_date": "2016-09-08T05:00:00Z",
                  "completed": true,
                  "completed_date": null,
                  "created_at": "2016-09-07T10:28:51Z",
                  "updated_at": "2016-09-07T10:29:40Z",
                  "preset_task_created": false,
                  "assigned_to": "Test Test",
                  "completed_by": null
                }
              ],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Names Football",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "print_locations_attributes": [],
                  "images_attributes": [
                    {
                      "filepicker_url": "url",
                      "mime_type": "image/png",
                      "full_image_url": "url",
                      "thumbnail_100_by_100_url": "url",
                      "display_thumbnail": "url"
                    }
                  ],
                  "unit_cost": 12.0,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
              "workorder": "https://printavo.com/invoices/93654/workorder",
              "packaging_slip": "https://printavo.com/invoices/93654/packing_slip"
            }

### Order Update [PUT]

+ Attributes (Order)

+ Request (application/json)

    + Headers

            Accept-Charset: utf-8
            Connection: keep-alive
    + Body

            {
              "user_id": 2658,
              "customer_id": 8782,
              "orderstatus_id": 1547,
              
              // Either formatted_due_date or due_date is required
              // If you send both, formatted_due_date will be ignored
              // due_date is ISO 8601 format and allows you to set a specific time
              "formatted_due_date": "11/11/2014",
              "due_date": "2014-11-11T10:00:00-05:00",
              "formatted_custom_created_at_date": "08/15/2014",
              "formatted_customer_due_date": "11/11/2015",
              "formatted_invoice_date": "11/11/2015",
              "formatted_payment_due_date": "12/11/2015",
              "sales_tax": "44.4",
              "order_nickname": "Test Nickname",
              "lineitems_attributes": [{
                "style_description": "Shirt",
                "category_id": 878,
                "unit_cost": 5.5,
                "size_xs": 1,
                "print_locations_attributes": [{
                    "details": ""
                }
              },
              {
                "style_description": "Shirt 2",
                "category_id": 90,
                "unit_cost": 6.0,
                "size_m": 5
              }],
              "order_fees_attributes": [{
                "amount": 10.0,
                "description": "Shipping Fee",
                "taxable": true
              }],
              "custom_created_at": "2014-08-15T10:00:00Z",
              "delivery_method_id": 213
            }

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93654,
              "sales_tax": "0.0",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "0.0",
              "customer_id": 103598,
              "user_id": 235,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": false,
              "approved_name": null,
              "visual_id": 4221,
              "order_subtotal": 10.0,
              "amount_paid": 8.0,
              "amount_outstanding": 2.0,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2015-11-11T10:00:00Z",
              "invoice_date": "2015-11-11T10:00:00Z",
              "payment_due_date": "2015-12-11T10:00:00Z",
              "custom_created_at": "2014-08-15T10:00:00Z",
              "formatted_custom_created_at_date": "08/15/2014",
              "formatted_customer_due_date": "11/11/2015",
              "formatted_invoice_date": "11/11/2015",
              "formatted_payment_due_date": "12/11/2015",
              "payment_term_id": 125,
              "delivery_method_id": 213,
              "expenses": [
                {
                  "id": 271392,
                  "transaction_date": "2016-09-07T05:00:00Z",
                  "name": "test",
                  "amount": "-45.35",
                  "created_at": "2016-09-07T09:58:32Z",
                  "updated_at": "2016-09-07T09:58:32Z",
                  "user_generated": true
                }
              ],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": "",
                "email": "alan@moore.com"
              },
              "messages": [
                {
                  "from": "2.61e6193093f8f5de09e5cf0b849296c3.order.fa7cdf959797229fc3e6fc8e4c5232bf@messages.printavo.com",
                  "to": "example@example.com",
                  "subject": "test",
                  "text": "test",
                  "state": "linked"
                }
              ],
              "tasks": [
                {
                  "id": 83180,
                  "order_id": 93654,
                  "task_name": "Completed task",
                  "due_date": "2016-09-08T05:00:00Z",
                  "completed": true,
                  "completed_date": null,
                  "created_at": "2016-09-07T10:28:51Z",
                  "updated_at": "2016-09-07T10:29:40Z",
                  "preset_task_created": false,
                  "assigned_to": "Test Test",
                  "completed_by": null
                }
              ],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Names Football",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "print_locations_attributes": [{
                    "details": ""
                  },
                  "images_attributes": [
                    {
                      "filepicker_url": "url",
                      "mime_type": "image/png",
                      "full_image_url": "url",
                      "thumbnail_100_by_100_url": "url",
                      "display_thumbnail": "url"
                    }
                  ],
                  "unit_cost": 12.0,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
              "workorder": "https://printavo.com/invoices/93654/workorder",
              "packaging_slip": "https://printavo.com/invoices/93654/packing_slip"
            }

### Order Delete [DELETE]

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93654,
              "sales_tax": "0.0",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "0.0",
              "customer_id": 103598,
              "user_id": 235,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": false,
              "approved_name": null,
              "visual_id": 4221,
              "order_subtotal": 10.0,
              "amount_paid": 8.0,
              "amount_outstanding": 2.0,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2014-08-15T10:00:00Z",
              "invoice_date": "2014-08-15T10:00:00Z",
              "payment_due_date": "2014-09-15T10:00:00Z",
              "custom_created_at": "2014-08-15T10:00:00Z",
              "formatted_custom_created_at_date": "08/15/2014",
              "formatted_customer_due_date": "08/15/2014",
              "formatted_invoice_date": "08/15/2014",
              "formatted_payment_due_date": "09/15/2014",
              "payment_term_id": 125,
              "delivery_method_id": 213,
              "expenses": [
                {
                  "id": 271392,
                  "transaction_date": "2016-09-07T05:00:00Z",
                  "name": "test",
                  "amount": "-45.35",
                  "created_at": "2016-09-07T09:58:32Z",
                  "updated_at": "2016-09-07T09:58:32Z",
                  "user_generated": true
                }
              ],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": ""
              },
              "messages": [
                {
                  "from": "2.61e6193093f8f5de09e5cf0b849296c3.order.fa7cdf959797229fc3e6fc8e4c5232bf@messages.printavo.com",
                  "to": "example@example.com",
                  "subject": "test",
                  "text": "test",
                  "state": "linked"
                }
              ],
              "tasks": [
                {
                  "id": 83180,
                  "order_id": 93654,
                  "task_name": "Completed task",
                  "due_date": "2016-09-08T05:00:00Z",
                  "completed": true,
                  "completed_date": null,
                  "created_at": "2016-09-07T10:28:51Z",
                  "updated_at": "2016-09-07T10:29:40Z",
                  "preset_task_created": false,
                  "assigned_to": "Test Test",
                  "completed_by": null
                }
              ],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Names Football",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "images_attributes": [
                    {
                      "filepicker_url": "url",
                      "mime_type": "image/png",
                      "full_image_url": "url",
                      "thumbnail_100_by_100_url": "url",
                      "display_thumbnail": "url"
                    }
                  ],
                  "unit_cost": 12.0,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
              "workorder": "https://printavo.com/invoices/93654/workorder",
              "packaging_slip": "https://printavo.com/invoices/93654/packing_slip"
            }

### Approve [PUT /api/{version}/orders/{id}/approve{?email}{?token}{?approved_name}]

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `307355`) - Invoice id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token
    + approved_name (required, string, `Bruce`) - Approver signature

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93654,
              "sales_tax": "0.0",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "0.0",
              "customer_id": 103598,
              "user_id": 235,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": true,
              "approved_name": "Bruce",
              "visual_id": 4221,
              "order_subtotal": 10.0,
              "delivery_method_id": null,
              "amount_paid": 8.0,
              "amount_outstanding": 2.0,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2014-08-15T10:00:00Z",
              "invoice_date": "2014-08-15T10:00:00Z",
              "payment_due_date": "2014-09-15T10:00:00Z",
              "formatted_customer_due_date": "08/15/2014",
              "formatted_invoice_date": "08/15/2014",
              "formatted_payment_due_date": "09/15/2014",
              "payment_term_id": 125,
              "expenses": [
                {
                  "id": 271392,
                  "transaction_date": "2016-09-07T05:00:00Z",
                  "name": "test",
                  "amount": "-45.35",
                  "created_at": "2016-09-07T09:58:32Z",
                  "updated_at": "2016-09-07T09:58:32Z",
                  "user_generated": true
                }
              ],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": "",
                "email": "alan@moore.com"
              },
              "messages": [
                {
                  "from": "2.61e6193093f8f5de09e5cf0b849296c3.order.fa7cdf959797229fc3e6fc8e4c5232bf@messages.printavo.com",
                  "to": "example@example.com",
                  "subject": "test",
                  "text": "test",
                  "state": "linked"
                }
              ],
              "tasks": [
                {
                  "id": 83180,
                  "order_id": 93654,
                  "task_name": "Completed task",
                  "due_date": "2016-09-08T05:00:00Z",
                  "completed": true,
                  "completed_date": null,
                  "created_at": "2016-09-07T10:28:51Z",
                  "updated_at": "2016-09-07T10:29:40Z",
                  "preset_task_created": false,
                  "assigned_to": "Test Test",
                  "completed_by": null
                }
              ],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Names Football",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "images_attributes": [
                    {
                      "filepicker_url": "url",
                      "mime_type": "image/png",
                      "full_image_url": "url",
                      "thumbnail_100_by_100_url": "url",
                      "display_thumbnail": "url"
                    }
                  ],
                  "unit_cost": 12.0,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
              "workorder": "https://printavo.com/invoices/93654/workorder",
              "packaging_slip": "https://printavo.com/invoices/93654/packing_slip",
              "custom_created_at": "2014-08-15T10:00:00Z"
            }
            
### Unapprove [GET /api/{version}/orders/{id}/unapprove{?email}{?token}]

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `307355`) - Invoice id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93654,
              "sales_tax": "0.0",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "0.0",
              "customer_id": 103598,
              "user_id": 235,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": false,
              "approved_name": null,
              "visual_id": 4221,
              "order_subtotal": 10.0,
              "amount_paid": 8.0,
              "amount_outstanding": 2.0,
              "delivery_method_id": null,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2014-08-15T10:00:00Z",
              "invoice_date": "2014-08-15T10:00:00Z",
              "payment_due_date": "2014-09-15T10:00:00Z",
              "formatted_customer_due_date": "08/15/2014",
              "formatted_invoice_date": "08/15/2014",
              "formatted_payment_due_date": "09/15/2014",
              "payment_term_id": 125,
              "expenses": [
                {
                  "id": 271392,
                  "transaction_date": "2016-09-07T05:00:00Z",
                  "name": "test",
                  "amount": "-45.35",
                  "created_at": "2016-09-07T09:58:32Z",
                  "updated_at": "2016-09-07T09:58:32Z",
                  "user_generated": true
                }
              ],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": "",
                "email": "alan@moore.com"
              },
              "messages": [
                {
                  "from": "2.61e6193093f8f5de09e5cf0b849296c3.order.fa7cdf959797229fc3e6fc8e4c5232bf@messages.printavo.com",
                  "to": "example@example.com",
                  "subject": "test",
                  "text": "test",
                  "state": "linked"
                }
              ],
              "tasks": [
                {
                  "id": 83180,
                  "order_id": 93654,
                  "task_name": "Completed task",
                  "due_date": "2016-09-08T05:00:00Z",
                  "completed": true,
                  "completed_date": null,
                  "created_at": "2016-09-07T10:28:51Z",
                  "updated_at": "2016-09-07T10:29:40Z",
                  "preset_task_created": false,
                  "assigned_to": "Test Test",
                  "completed_by": null
                }
              ],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Names Football",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "images_attributes": [
                    {
                      "filepicker_url": "url",
                      "mime_type": "image/png",
                      "full_image_url": "url",
                      "thumbnail_100_by_100_url": "url",
                      "display_thumbnail": "url"
                    }
                  ],
                  "unit_cost": 12.0,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
              "workorder": "https://printavo.com/invoices/93654/workorder",
              "packaging_slip": "https://printavo.com/invoices/93654/packing_slip",
              "custom_created_at": "2014-08-15T10:00:00Z"
            }

### Duplicate [GET /api/{version}/orders/{id}/duplicate_order{?email}{?token}]

+ Parameters

    + version (required, string, `v1`) - API version.
    + id (required, number, `307355`) - Invoice id.
    + email (required, string, `test@example.com`) - User email
    + token (required, string, `1dofnewoi233`) - Login token

+ Response 200 (application/json)

    + Headers

            Connection: keep-alive

    + Body

            {
              "id": 93654,
              "sales_tax": "0.0",
              "total_untaxed": "0.0",
              "discount_as_percentage": false,
              "discount": "0.0",
              "customer_id": 103598,
              "user_id": 235,
              "orderstatus_id": 1515,
              "public_hash": "fa7cdf959797229fc3e6fc8e4c5232bf",
              "production_notes": null,
              "order_nickname": null,
              "approved": false,
              "approved_name": null,
              "visual_id": 4221,
              "order_subtotal": 10.0,
              "amount_paid": 8.0,
              "amount_outstanding": 2.0,
              "delivery_method_id": null,
              "stats": {
                "paid": true
              },
              "notes": "",
              "created_at": "2014-07-23T14:15:29Z",
              "updated_at": "2016-09-16T06:15:42Z",
              "due_date": "2014-08-15T10:00:00Z",
              "order_total": "678.0",
              "customer_due_date": "2014-08-15T10:00:00Z",
              "invoice_date": "2014-08-15T10:00:00Z",
              "payment_due_date": "2014-09-15T10:00:00Z",
              "formatted_customer_due_date": "08/15/2014",
              "formatted_invoice_date": "08/15/2014",
              "formatted_payment_due_date": "09/15/2014",
              "payment_term_id": 125,
              "expenses": [
                {
                  "id": 271392,
                  "transaction_date": "2016-09-07T05:00:00Z",
                  "name": "test",
                  "amount": "-45.35",
                  "created_at": "2016-09-07T09:58:32Z",
                  "updated_at": "2016-09-07T09:58:32Z",
                  "user_generated": true
                }
              ],
              "customer": {
                "full_name": "Alan Moore",
                "first_name": "Alan",
                "last_name": "Moore",
                "company": "",
                "email": "alan@moore.com"
              },
              "messages": [
                {
                  "from": "2.61e6193093f8f5de09e5cf0b849296c3.order.fa7cdf959797229fc3e6fc8e4c5232bf@messages.printavo.com",
                  "to": "example@example.com",
                  "subject": "test",
                  "text": "test",
                  "state": "linked"
                }
              ],
              "tasks": [
                {
                  "id": 83180,
                  "order_id": 93654,
                  "task_name": "Completed task",
                  "due_date": "2016-09-08T05:00:00Z",
                  "completed": true,
                  "completed_date": null,
                  "created_at": "2016-09-07T10:28:51Z",
                  "updated_at": "2016-09-07T10:29:40Z",
                  "preset_task_created": false,
                  "assigned_to": "Test Test",
                  "completed_by": null
                }
              ],
              "user": {
                "name": "Test Test"
              },
              "orderstatus": {
                "name": "COMPLETED",
                "color": "#000000"
              },
              "lineitems_attributes": [
                {
                  "id": 308751,
                  "style_description": "Names Football",
                  "taxable": true,
                  "style_number": "",
                  "color": "",
                  "size_other": 31,
                  "size_yxs": null,
                  "size_ys": null,
                  "size_ym": null,
                  "size_yl": null,
                  "size_yxl": null,
                  "size_6m": null,
                  "size_12m": null,
                  "size_18m": null,
                  "size_24m": null,
                  "size_2t": null,
                  "size_3t": null,
                  "size_4t": null,
                  "size_5t": null,
                  "size_s": null,
                  "size_m": null,
                  "size_l": null,
                  "size_xl": null,
                  "size_2xl": null,
                  "size_3xl": null,
                  "size_4xl": null,
                  "size_5xl": null,
                  "size_6xl": null,
                  "total_quantities": 31,
                  "goods_status": "need_ordering",
                  "images_attributes": [
                    {
                      "filepicker_url": "url",
                      "mime_type": "image/png",
                      "full_image_url": "url",
                      "thumbnail_100_by_100_url": "url",
                      "display_thumbnail": "url"
                    }
                  ],
                  "unit_cost": 12.0,
                  "category": null
                }
              ],
              "order_fees": [],
              "url": "https://printavo.com/invoices/93654",
              "public_url": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf",
              "pdf": "https://printavo.com/invoice/fa7cdf959797229fc3e6fc8e4c5232bf.pdf",
[...]
